<!DOCTYPE html>
<html>
<head>
  <title>Verification Code</title>
  <style>
    /* General styling */
    body {
      font-family: Arial, sans-serif;
      text-align: center;
    }

    /* Verification code styling */
    h2 {
      font-size: 36px;
      font-weight: bold;
      color: #007bff;
    }

    /* Logo styling */
    .logo {
      background-color: #f5f5f5;
      padding: 20px;
      text-align:center;
      margin-top:6px;
    }
    img {
      width:30%;
    }
    /* html styling */
    html {
      width: 70%;
      margin: 0 auto;
    }
  </style>
</head>
<body>
  <div class="logo">
    <img src="https://ci4.googleusercontent.com/proxy/loEoTB69NohvD9fK_6gE4tmas6eMySNAMDHJ-6UJ68ISf622jNBjoO-VinnL6av2tWt4dAsJ3Vx2-7Jsmn9Yt4OIU-ja9Y0158-MxvF7UVN3ML8X7w5LTsjf-gS14ZlHydP_B4aXRGHm=s0-d-e1-ft#https://cdn.shopify.com/s/files/1/0623/3191/2397/files/logo.png" alt="Logo">
  </div>
  <h1>Welcome to Inspection360!</h1>
  <p>Thank you for signing up.</p>
  <p>Your verification code is:</p>
  <h2>{{ verification_code }}</h2>
  <p>Please enter this code in the app to complete your registration.</p>
  <p>If you did not sign up for Inspection360, please ignore this email.</p>
  <p>Thanks,</p>
  <p>The Inspection360 Team</p>
</body>
</html>
